
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  padding: 0px 20px;
}

.container {
  align-items: center;
  padding: 40px 0 20px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header img {
  max-width: 300px;
}

header h1 {
  margin: -10px 0 10px 0;
  color: #FFF;
  font-size: 32px;
  font-weight: normal;
}

.link-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.link-card img {
  width: 60px;
  height: 60px;
}

.link-card div {
  flex-grow: 1;
  padding: 0 10px;
}

.link-card h2, .link-card p {
  margin: 0;
}

.link-card h2 {
  font-size: 16px;
  font-weight: 400;
}

.link-card p {
  font-size: 14px;
  color: #777;
}

.cta-button {
  background-color: #f0f0f0;
  color: #1e1e1e;
  padding: 10px;
  border: none;
  border-radius:5px;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

footer p {
  margin: 0;
  font-size: 12px;
}

footer a {
  margin-left: 10px;
  color: #FFF;
  text-decoration: none;
}

header, main, footer {
  width: 100%;
}

@media (min-width: 600px) {

  .app {
    padding: 0px 60px;
  }

  .link-card {
    margin: 15px 0;
    padding: 15px;
  }
  
  .link-card h2 {
    font-size: 22px;
  }

  .link-card p {
    font-size: 16px;
  }

  footer a {
    margin-left: 15px;
  }
}
